
.main__container{
    max-width: 80vw;
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px;
}

.header__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0.625rem;
    border-radius: 8px;
    background-color: #121212;
}

.header__navigation .navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navigation .navigation .arrow-left{
    margin-right: 1.25rem;
}

.arrow-left, .arrow-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border-radius: 50%;
    border: none;
}

.header__login{
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__search{
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: #242424;
    border-radius: 500px;
    border: 1px solid transparent;
}

.header__search img{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header__search input{
    width: 100%;
    background: transparent;
    border: none;
    padding: 0 16px 0 12px;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header__login .subscribe{
    color: #a7a7a7;
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    border: none;
}

.header__login .login{
    width: 100px;
    height: 48px;
    color: #000;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 40px;
}



/* Playlist */

.playlist__container{
    height: 68vh;
    padding-top: 1rem;
    margin: 0.625rem;
    border-radius: 8px;
    background-color: #121212;
}

.playlist{
    margin: 1.5rem;
}

.playlist #greeting{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.playlist .session{
    font-size: 1.5rem;
    font-weight: 700;
}

.offer__scroll-container{
    max-height: 50vh;
    margin: 1.5rem;
    overflow-y: auto;
}

.offer__list-item{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 16px;
    grid-gap: 16px;
    margin-bottom: 1rem;
}

.offer__scroll-container {
    max-height: 43vh;
    margin: 24px;
    overflow-y: auto;
}
  
.offer__scroll-container::-webkit-scrollbar {
    width: 1px;
}
  
.offer__scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.cards{
    position: relative;
    width: 220px;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
}

.cards1{
    background-color: var(--bg-green);
}
.cards2{
    background-color: var(--bg-lilac);
}
.cards3{
    background-color: var(--bg-blue);
}
.cards4{
    background-color: var(--bg-red);
}
.cards5{
    background-color: var(--bg-pink);
}
.cards6{
    background-color: var(--bg-blue-pool);
}

.cards span{
    position: absolute;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.cards img{
    position: absolute;
    width: 107px;
    height: auto;
    transform: rotate(25deg) translate(18%, -2%);
    right: 0;
    bottom: 0;
}

/* CARD ARTISTS */

  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 24px;
    min-width: 372px;
  }
  
  .artist-card {
    width: 220px;
    background: #181818;
    border-radius: 8px;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    transition: background-color 0.3s ease;
  }
  
  .artist-card:hover {
    background-color: #252525;
  }
  
  .card-img {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
  }
  
  .artist-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 50%;
  }
  
  .card-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 62px;
  }
  
  .card-text a {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .artist-name {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 16px;
    font-weight: 700;
    padding-block-end: 8px;
  }
  
  .artist-categorie {
    color: #6a6a6a;
    font-weight: 400;
    font-size: 0.875rem;
  }
  
  .play {
    position: relative;
  }
  
  .play .fa-play {
    position: absolute;
    right: 10px;
    top: 120px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
  }
  
  .artist-card:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
  }
  
  .play .fa-play:hover {
    padding: 20px;
    cursor: pointer;
  }
  
  #result-artist {
    padding: 20px 40px;
  }